<h1>{{table_name}}</h1>

<table class="table">
  <tr>
    {{#each options.columns as |column|}}
      <th>
        <strong>{{column.name}}</strong>
      </th>
    {{/each}}
  </tr>
  {{#each records as |record|}}
    <tr>
      {{#each options.columns as |column|}}
        <td>
          {{data-table-field record=record column=column options=options table_name=table_name}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
</table>
