<h1>{{table_name}} {{#if template}}<small>Template: <strong>{{template}}</strong></small>{{/if}}</h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      {{#each options.columns as |column|}}
        <th>
          <strong>{{column.name}}</strong>
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each records as |record|}}
      <tr>
        {{#each options.columns as |column|}}
          <td>
            {{data-table-field
              record=record
              column=column
              options=options
              table_name=table_name
              template=template}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
